<div class="wrapper">
  <div class="holder">
    <button class="card card-small cursor" (click)="navigate()" tabindex="0">
      <span>Pay With Card</span>
    </button>
    <div class="card card-large" *ngIf="!hidden">
      <div class="table table-hover">

        <tbody>
            <tr>
              <td style="width: 70%;">Amount</td>
              <td style="width: 40%;">{{ cardDetails.amount }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Credit Card Number</td>
              <td>{{ cardDetails.creditCardNumber }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Card Holder</td>
              <td>{{ cardDetails.cardHolder }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Expiration Date</td>
              <td>{{ cardDetails.expirationDate| date: 'MM-YYYY' }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Security Code/CVV</td>
              <td>{{ cardDetails.securityCode }} </td>
            </tr>
</tbody>
      </div>

    </div>
  </div>


  <div class="view-container">
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>

    <router-outlet></router-outlet>

    <div ng-view class="view-frame"></div>
  </div>
</div>
